<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Przemek</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ng-href="#doctors" >Lekarze</a></li>
            <li class="active"><a ng-href="#doctor/{{doctorId}}" >{{doctor.fullName}}</a></li>
        </ul>
    </div>
    <div class="navbar-nav" style="float: right">
        <a  class = "active" ng-click="logout()">Sign out</a>
    </div>
</nav>

<div class="container">

    <div>
        <h1>{{doctor.nameWithSpec}} - dostępne terminy wizyt</h1>
    </div>

    <div ui-calendar="uiConfig.calendar" calendar="myCalendar" class="span12 calendar" ng-model="eventSources"></div>

</div>